<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="Address" type="com.gear.hotpoom.vo.Address"/>
		<typeAlias alias="Bank" type="com.gear.hotpoom.vo.Bank"/>
		<typeAlias alias="BankAccount" type="com.gear.hotpoom.vo.BankAccount"/>
		<typeAlias alias="Booking" type="com.gear.hotpoom.vo.Booking"/>
		<typeAlias alias="Bookmark" type="com.gear.hotpoom.vo.Bookmark"/>
		<typeAlias alias="Cancel" type="com.gear.hotpoom.vo.Cancel"/>
		<typeAlias alias="Cert" type="com.gear.hotpoom.vo.Cert"/>
		<typeAlias alias="ChatRoom" type="com.gear.hotpoom.vo.ChatRoom"/>
		<typeAlias alias="ChatUser" type="com.gear.hotpoom.vo.ChatUser"/>
		<typeAlias alias="Credit" type="com.gear.hotpoom.vo.Credit"/>
		<typeAlias alias="Message" type="com.gear.hotpoom.vo.Message"/>
		<typeAlias alias="Payment" type="com.gear.hotpoom.vo.Payment"/>
		<typeAlias alias="Pet" type="com.gear.hotpoom.vo.Pet"/>
		<typeAlias alias="Photo" type="com.gear.hotpoom.vo.Photo"/>
		<typeAlias alias="Poom" type="com.gear.hotpoom.vo.Poom"/>
		<typeAlias alias="Report" type="com.gear.hotpoom.vo.Report"/>
		<typeAlias alias="Review" type="com.gear.hotpoom.vo.Review"/>
		<typeAlias alias="Species" type="com.gear.hotpoom.vo.Species"/>
		<typeAlias alias="User" type="com.gear.hotpoom.vo.User"/>
		<typeAlias alias="PageVO" type="com.gear.hotpoom.vo.PageVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/gear/hotpoom/mapper/address.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/bank-accounts.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/banks.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/bookings.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/bookmarks.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/cancels.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/certs.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/chat-rooms.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/chat-users.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/credits.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/messages.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/payments.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/pets.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/photos.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/pooms.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/reports.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/reviews.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/species.xml"/>
		<mapper resource="com/gear/hotpoom/mapper/users.xml"/>
	</mappers>

</configuration>





