@charset "UTF-8";

.big_card_content {
    position: relative;
    width: 696px;
    height: 246px;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    -webkit-user-select: none;
    /*transition: .2s;*/
}

.big_card_content:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.big_card_content:hover .photo_cover {
    display: block;
}

.photo_content {
    position: relative;
    width: 246px;
    height: 246px;
    float: left;
    overflow: hidden;
}

.photo_cover {
    position: absolute;
    display: none;
    width: 246px;
    height: 246px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=1);
    /*transition: .2s;*/
}

.photo_card_btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 111px;
    cursor: pointer;
    font-size: 30px;
    color: #FFFFFF;
    border: none;
    line-height: 25px;
    outline: none;
}

.photo_card_btn:hover {
    transition: .1s ease;
}

.photo_card_btn:active {
    transform: scale(.8);
}

.prev_photo {
    left: 10px;
}

.next_photo {
    left: 216px;
}

.photo_box {
    position: relative;
    width: 2460px;
    height: 246px;
    left: 0;
    transition: left .8s ease;
}

.poom_photo {
    position: relative;
    width: 246px;
    height: 246px;
    float: left;
}

.poom_content {
    position: relative;
    width: 410px;
    height: 206px;
    padding: 20px;
    float: left;
}

.poom_content p {
    position: absolute;
}

.poom_content a {
    position: absolute;
}

.poom_name {
    font-size: 22px;
    font-weight: bold;
    width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.poom_address {
    top: 50px;
}

.poom_animal {
    top: 70px;
}

.poom_star {
    bottom: 20px;
}

.poom_star i {
    color: #fee101;
}

.poom_price {
    right: 20px;
    bottom: 20px;
    font-size: 26px;
    font-weight: bold;

}

.poom_bookmark {
    position: absolute;
    width: 50px;
    height: 55px;
    right: 20px;
    background-image: url("../img/bookmark_on.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}