@charset "UTF-8";
#content{
    width: 1100px;
    margin: auto;
}
#titleSection{
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    margin-top: 15px;
}
#bookmarkListSection{
    /*background-color: blue;*/
}
#bookmarkCompareBtnWrap{
    position: relative;
    height: 50px;
}
.bookmark_btn{
    position: absolute;
    background-color: #b3b3b3;
    color: #fff;
    font-size: 22px;
    height: 45px;
    font-weight: bold;
}
#bookmarkCompareBtn{
    right: 0;
    width: 150px;
}
#bookmarkResetBtn{
    right: 160px;
    width: 100px;
    display: none;
}

.compare_btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#bookmarkListWrap{
    position: relative;
    margin-top: 20px;
}
.poom_inner{
    position: relative;
    width: 748px;
    height: 246px;
    transition: width .3s, height .3s;
    overflow: hidden;
}
.poom_inner.hide {
    display: none;
}
.bookmark_checkbox{
    position: absolute;
    top: 107px;
    margin-right: 10px;
    margin-left: 10px;
    width:30px;
    height:30px;
    box-sizing: content-box;
    /*right: 350px;*/
}
hr{
    color: #f8f8f8;
}

.resize  #bookmarkListWrap{
    width: 320px;
    height: 900px;
    overflow-y: scroll;
}


.resize .poom_inner{
   width: 297px;
   height:300px;
}

.resize .poom_name {
    width:246px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left:-236px;
    bottom:-30px;
}
.resize .poom_animal {
    width:246px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left:-236px;
    top:inherit;
    bottom:-50px;
}
.resize .poom_price{
    width:246px;
    overflow: hidden;
    left:-236px;
    top:inherit;
    bottom:-75px;
    font-size: 15px;
}
.resize .poom_star{
    width:246px;
    overflow: hidden;
    left:-236px;
    top:inherit;
    bottom:-90px;
    font-size: 15px;
}

.compare.poom_inner {
    width:246px;
    height: 350px;
    position: fixed;
    z-index: 100;
}


.compare.poom_inner .big_card_content {
    left:0;
}
.compare.poom_inner .bookmark_checkbox {
    display: none;
}
#bookmarkCompareWrap{
    position: relative;
    height: 360px;
    width: 780px;
    left: 320px;
    top: -900px;
    display: none;
    /*background-color: red;*/
}

#bookmarkCompareWrap .poom_inner {
    position: relative;
    float: left;
    width:245px;
    height:340px;
    margin-left: 10px;
    left:0 !important;
    top:0 !important;
}
#bookmarkCompareWrap .poom_inner .bookmark_checkbox {
    display: none;
}
#bookmarkCompareWrap .poom_inner .big_card_content {
    left: 0;
}

#mapCompareWrap{
    width: 780px;
    height: 539px;
    position: relative;
    /*background-color: red;*/
    top: -900px;
    right: -320px;
    border-top: 1px solid #a0a0a0;
    display: none;
}

.price_hover{
    border: 2px solid #3397EB;
}

.label {margin-bottom: 96px;}
.label * {display: inline-block;vertical-align: top;}
.label .left {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}

