@charset "UTF-8";

#reviewRegisterPopup {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: #fff;
    box-shadow: 0 0 1px #424242;
}
.close_popup{
    width:50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    color:#424242;
    position:absolute;
    font-size: 30px;
    top:10px;
    right:10px;
    background-color: transparent;
    /*버튼 꾸미기 제거*/
    user-select: none;
    outline: none;
    border:none;
    /*버튼효과*/
    cursor:pointer;
}
#reviewRegisterBtn{
    display: block;
    border: 2px solid #C50532;
    width:100px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    position:absolute;
    bottom:30px;
    right:30px;
    line-height:36px;
    text-align:center;
    font-size:20px;
    color:#C50532;
    font-weight: bold;
}
#reviewRegisterBtn:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#poomImg {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#poomName {
    position: absolute;
    top: 30px;
    left: 140px;
    font-size: 30px;
    width: 280px;
    height: 60px;
    overflow: hidden;
}
#poomDate {
    position: absolute;
    top: 113px;
    left: 140px;
    font-size: 16px;
    width: 280px;
    overflow: hidden;
}
#poomTextarea {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 430px;
    height: 180px;
    padding: 5px;
    resize: none;
}
#poomGrade {
    position: absolute;
    top: 350px;
    left: 30px;
    font-size: 24px;
    cursor: pointer;
    color: #fee101;
}
#reviewRegisterBg {
    display: none;
    z-index: 5;
}
#bookingSection {
    width: 1100px;
    min-height: 500px;
    margin: auto;
}
#content {
}
h2 {
    font-size: 34px;
    margin: 10px 0;
}
#bookingSection ul {
    width: 1098px;
    /*padding: 0 20px 0 20px;*/
    border-top: 1px solid #757575;
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
}
#bookingSection li {
    position: relative;
    width: 1098px;
    height: 300px;
    border-bottom: 1px solid #757575;
}
#bookingSection .name {
    position: absolute;
    font-size: 28px;
    left : 310px;
    top: 5px;
}
#bookingSection .address {
    position: absolute;
    font-size: 18px;
    left: 310px;
    top: 50px;
}#bookingSection .pet {
    position: absolute;
    font-size: 18px;
    left: 310px;
    top: 90px;
}
#bookingSection .date {
    position: absolute;
    font-size: 18px;
    right: 180px;
    top: 10px;
}
#bookingSection .poom_type {
    position: absolute;
    font-size: 16px;
    right: 180px;
    top: 50px;
    color: #3397EB;
}
#bookingSection .price {
    position: absolute;
    font-size: 30px;
    right: 180px;
    top: 250px;
}
#bookingSection .message {
    position: absolute;
    left: 310px;
    top: 220px;
}
#bookingSection .detail_link {
    position: absolute;
    left: 310px;
    top: 260px;
}
#bookingSection .message a,#bookingSection .detail_link a {
    font-size: 20px;
    color: #3397eb;
    text-decoration: underline;
    cursor: pointer;
}
#bookingSection .poom_img {
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #424242;
}
#bookingSection .btns_wrap {
    position: absolute;
    right: 0;
    width: 160px;
    height: 300px;
    border-left: 1px solid #424242;
}
#bookingSection .bill_btn {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 136px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
#bookingSection .bill_btn.middle {
    top: 130px;
}
#bookingSection .review_btn {
    position: absolute;
    top: 160px;
    right: 10px;
    width: 140px;
    height: 40px;
    font-size: 18px;
}
#bookingSection .review_btn.disable {
    cursor: default;
    color: #bdbdbd;
    border-color: #bdbdbd;
}
#bookingSection .review_btn.disable:hover {
    cursor: default;
    color: #bdbdbd;
    background-color: #fff;
    border-color: #bdbdbd;
    box-shadow: none;
    font-weight: normal;
}
#content .btn {
    border: 2px solid #C50532;
    border-radius: 10px;
    color:#C50532;
    cursor: pointer;
}
#content .btn:hover {
    background-color: #C50532;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btns_wrap a:visited {
    color: #C50532;
}
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
}
#bookingSection .poom_type.cancel {
	color: red;
}
#bookingSection .poom_type.finish {
	color: #bdbdbd;
}
#paginate {
	width: 700px;
	height: 30px;
	position: relative;
	margin: 20px auto 45px auto;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	/*background-color: #f68500;*/
}

#paginate>a {
	text-decoration: none;
	color: #424242;
	margin-left: 40px;
	padding: 2px 10px;
}

#paginate>a:hover {
	color: #3397EB;
}

#paginate>strong {
	text-decoration: none;
	background-color: #3397EB;
	color: #fff;
	margin-left: 40px;
	padding: 2px 10px;
	border-radius: 50px;
}

#paginate>span>i {
	color: #bdbdbd;
	margin-left: 40px;
	padding: 2px 10px;
}