@charset "UTF-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    color: #424242;
    user-select: none;
}
#header {
    width: 100%;
    height: 100px;
    /*background-color: #eee;*/
}
#headerSection {
    position: relative;
    width: 100%;
    height: 100px;
}
input:focus {
    outline: none;
}
#headerLogo {
    position: absolute;
    width: 130px;
    left: 20px;
    margin-top: 6px;
}
#headerSearch {
    position: absolute;
    width: 230px;
    height: 34px;
    top: 33px;
    left: 180px;
    border: none;
    text-indent: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#headerSearchBtn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 40px;
    left: 420px;
    cursor: pointer;
    color: #424242;
}
/************로그인 하기 전**************/
#headerLogin {
    position: absolute;
    height: 40px;
    font-size: 20px;
    margin-right: 20px;
    line-height: 20px;
    right: 20px;
    top: 30px;
    font-weight: 500;
    cursor: pointer;
    display: block;
}
#headerLogin.hide {
	display: none;
}
#headerLogin:hover {
    text-decoration: underline #424242;
}
/********************************************/

#gnb {
    position: absolute;
    height: 40px;
    top: 30px;
    right: 70px;
}
#gnb a {
    position: relative;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-right: 20px;
    line-height: 20px;
    top: 10px;
    font-weight: 500;
    cursor: pointer;
}
.fa-search {
    font-size: 24px;
    transition: .2s;
}
.fa-search:hover {
    text-shadow: 2px 2px 2px #afafaf;
}
.btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    outline: none;
}
#headerProfileImage {
    position: absolute;
    width: 50px;
    border-radius: 100px;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
#lnb {
    position: absolute;
    top: 80px;
    right: 30px;
    border: 1px solid #424242;
    display: none;
}
#lnb:hover {
    cursor: pointer;
}
#lnb li {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #424242;
}
#lnb li:first-child {
    border-top: none;
}


/*********************************loginPopup************************************/

#bg, .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 999;
    top:0;
}

#loginPopup {
    position: relative;
    width:360px;
    height: 360px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 20px;
    background-color: #fff;
}

#loginTitle {
    position: absolute;
    width: 100px;
    left: 150px;
    text-align: center;
    font-size: 28px;
}

.fa-times-circle {
    position: absolute;
    font-size: 26px;
    right: 20px;
    color: #424242;
}
.fa-times-circle:hover {
    color: #C50532;
}

.loginPopup_text {
    position: absolute;
    font-size: 20px;
    left: 40px;
}

.loginPopup_input {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 40px;
    text-indent: 10px;
}

#loginPopup span:nth-child(3) {
    top: 90px;
}

#idInput {
    top: 120px;
}

#loginPopup span:nth-child(5) {
    top: 180px;
}

#passwordInput {
    top: 210px;
}

#passwordInfo {
    position: absolute;
    top: 323px;
    left: 40px;
    font-size: 14px;

}

#loginPopup #loginBtn {
    position: absolute;
    width: 304px;
    height: 40px;
    top: 275px;
    left: 40px;
    color: #fff;
    background-color: #C50532;
}

#joinInfo {
    position: absolute;
    top: 345px;
    left: 40px;
    font-size: 14px;

}

#joinBtn {
    position: absolute;
    top: 345px;
    left: 195px;
    color: #C50532;
    font-weight: bold;
    font-size: 14px;

}

#findPasswordBtn {
    position: absolute;
    top: 323px;
    left: 250px;
    font-size: 14px;
    color: #C50532;
    font-weight: bold;
}

.cursor_pointer {
    cursor: pointer;
}

/* 크롬 input창 클릭 시 placeholder 없애기 */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color:transparent;
}
/* firefox 4 ~ 18 input창 클릭 시 placeholder 없애기 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color:transparent;
}
/* firefox 19이상 input창 클릭 시 placeholder 없애기 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color:transparent;
}
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder
{
    color:transparent;
}

/*------------------------------------------a요소 css없애기-------------------------------------*/
/* 헤더 a링크 css 초기화 */
a:link {
    text-decoration: none;
    color: #424242;
}

a:visited {
    text-decoration: none;
    color: #424242;
}

a:active {
    text-decoration: none;
    color: #424242;
}

a:hover {
    text-decoration: none;
    color: #424242;
}

/*---------------footer-------------*/
#policy {
    width:800px;
    height:60px;
    display: inline-block;
}
#footer {
    position: absolute;
    width:100%;
    height:60px;
    line-height: 60px;;
    border-top: #424242 solid 2px;
}

#footer.fixed {
    position: fixed;
    bottom:0;
}
#footer address {
    position: absolute;
    width:300px;
    height:60px;
    display: inline-block;
    color:#424242;
    left: 100px;
}

#footer a {
    text-decoration:none;
    color: #424242;
}
#footer a:hover {
    color:#C50532;
    text-decoration: underline;
}
a.btn {
    text-decoration: none;
}
#footer address a {
    font-weight: 400;
}

#policy ul {
    position: absolute;
    text-align: center;
    left: 400px;
}

#policy li {
    display: inline;
    border-left:1px solid #ddd;
    margin-right:9px;
    padding-left: 8px;
}

#policy li:first-child {
    border:none;
}

#policy strong {
    font-weight:400;
}

#footerLogo {
    position: absolute;
    top: 5px;
    left: 40px;
}
#loginPopup .msg {
	position: absolute;
	top: 250px;
	left: 40px;
	color: #C50532;
	display: none;
}
#logout {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #424242;
	cursor: pointer;
}