@charset "UTF-8";
#content{
	width:1100px;
	min-height: 1429px;
}
#hotelListAllSection {
    width: 100%;
}
#filterSection, #hotelListSection {
    position: relative;
}
#filterSection {
    margin-left: 20px;
    z-index: 2;
}
#hotelListSection {
    margin-top: 20px;
}
#filterSection > .btn {
    background-color: #fff;
    border: 1px solid #C50532;
    color:#C50532;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}
#filterSection .btn:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#filterSection .filter{
	background-color: #C50532;
	color:#fff;
}
#filterSection>.btn {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
#sortInner {
    width: 84px;
    height: 90px;
    position: absolute;
    top: 35px;
    left: 594px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#filterSection>#sortInner>.btn {
    width: 84px;
    border-radius: 5px;
    background-color: #3397eb;
    color: #fff;
    text-decoration: none;
}
#map {
    position: fixed;
    width: calc(100% - 696px);
    height: calc(100% - 150px);
    right:0;
    top: 155px;
    background-color: blue;
}
#paginate {
    position: relative;
}
.popup {
    position: absolute;
    border: 1px solid #424242;
    background-color: #fff;
    display: none;
}
#datePickerPopup {
    width: 290px;
    height: 400px;
}
#datePickerPopup .end {
    position: absolute;
    margin-right: 103px;
}
#datePickerPopup .start {
    position: absolute;
    left: 0;
}
.tui-datepicker {
    border: none;
}
.tui-datepicker-input.tui-has-focus {
    border-color: transparent;
}
#datePickerPopup>#datePickerCloseBtn {
    top: 350px;
    left: 210px;
}
#petTypePopup {
    width: 160px;
    min-height: 80px;
    left: 125px;
    padding: 3px;
}
#petTypeInput {
    width: 150px;
    height: 30px;
}
#filterSection > .popup .btn {
    position: absolute;
    background-color: transparent;
    color: #3397eb;
    text-decoration: underline;
    width: 50px;
}
#petTypeCloseBtn {
    left: 110px;
    top: 45px;
    display: none;
}
#petNumPopup {
    width: 150px;
    height: 80px;
    padding-top: 20px;
    left: 235px;
}
#filterSection #petNumPopup>.btn {
    background-color: #3397eb;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 35px;
    height:35px;
}
#filterSection #petNumPopup>#petNumCloseBtn.btn {
    background-color: transparent;
    color: #3397eb;
    text-decoration: underline;
    font-size: 16px;
    width: 50px;
    left: 95px;
    top: 60px;
}
#petNumInput {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 50px;
    font-size: 24px;
}
#minusBtn {
    left: 10px;
}
#plusBtn {
    left: 100px;
}
#priceRangePopup {
    width: 300px;
    height: 100px;
    left: 345px;
    padding-top: 20px;
    padding-left: 20px;
}
#priceRangePopup>input {
    width: 120px;
    height: 30px;
    text-indent: 20px;
    font-size: 18px;
}
#priceRangePopup>span {
    margin: 0 10px;
    font-size: 20px;
}
.won {
    position: absolute;
    font-size: 18px;
    top: 27px;
}
#lowestWon {
    left: 15px;
}
#highestWon {
    left: 172px;
}
#priceRangeCloseBtn {
    top: 80px;
    right: 10px;
}
#sortInner.popup {
    display: none;
    border: none;
}
#priceBtn {
    bottom: 0;
}
.big_card_content {
    margin-bottom: 20px;
}
.label {margin-bottom: 96px;}
        .label * {display: inline-block;vertical-align: top;}
        .label .left {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
        .label .center {background: url(http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
        .label .right {background: url("http://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}

#filterSection > #sortInner .orderBtn{
	background-color: #fff;
	color:#C50532;
	position: relative;
	height : 30px;
}
.orderBtn:hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#filterSection > #sortInner .order{
	background-color: #C50532;
	color:#fff;
}