@charset "UTF-8";
#hotelListAllSection {
    width: 100%;
}
#filterSection, #hotelListSection {
    position: relative;
}
#filterSection {
    margin-left: 20px;
    z-index: 2;
}
#hotelListSection {
    margin-top: 20px;
}
#filterSection .btn {
    background-color: #3397eb;
    color:#fff;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}
#filterSection>.btn {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
#sortInner {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 35px;
    left: 594px;
}
#filterSection>#sortInner>.btn {
    width: 84px;
    border-radius: 5px;
    background-color: #3397eb;
    color: #fff;
    text-decoration: none;
}
#map {
    position: absolute;
    width: 380px;
    height: 1320px;
    left: 720px;
    top: 0;
    background-color: blue;
}
#paginate {
    position: relative;
}
.popup {
    position: absolute;
    border: 1px solid #424242;
    background-color: #fff;
    display: none;
}
#datePickerPopup {
    width: 290px;
    height: 400px;
}
#datePickerPopup .end {
    position: absolute;
    margin-right: 103px;
}
#datePickerPopup .start {
    position: absolute;
    left: 0;
}
.tui-datepicker {
    border: none;
}
.tui-datepicker-input.tui-has-focus {
    border-color: transparent;
}
#datePickerPopup>#datePickerCloseBtn {
    top: 350px;
    left: 210px;
}
#petTypePopup {
    width: 160px;
    height: 80px;
    left: 125px;
    padding: 3px;
}
#petTypeInput {
    width: 150px;
    height: 30px;
}
#filterSection .popup .btn {
    position: absolute;
    background-color: transparent;
    color: #3397eb;
    text-decoration: underline;
    width: 50px;
}
#petTypeCloseBtn {
    left: 110px;
    top: 45px;
}
#petNumPopup {
    width: 150px;
    height: 80px;
    padding-top: 20px;
    left: 235px;
}
#filterSection #petNumPopup>.btn {
    background-color: #3397eb;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 35px;
}
#filterSection #petNumPopup>#petNumCloseBtn.btn {
    background-color: transparent;
    color: #3397eb;
    text-decoration: underline;
    font-size: 16px;
    width: 50px;
    left: 95px;
    top: 60px;
}
#petNumInput {
    position: absolute;
    width: 40px;
    height: 30px;
    left: 50px;
    font-size: 24px;
}
#minusBtn {
    left: 10px;
}
#plusBtn {
    left: 100px;
}
#priceRangePopup {
    width: 300px;
    height: 100px;
    left: 345px;
    padding-top: 20px;
    padding-left: 20px;
}
#priceRangePopup>input {
    width: 120px;
    height: 30px;
    text-indent: 20px;
    font-size: 18px;
}
#priceRangePopup>span {
    margin: 0 10px;
    font-size: 20px;
}
.won {
    position: absolute;
    font-size: 18px;
    top: 27px;
}
#lowestWon {
    left: 15px;
}
#highestWon {
    left: 172px;
}
#priceRangeCloseBtn {
    top: 80px;
    right: 10px;
}
#sortInner.popup {
    display: none;
    border: none;
}
#priceBtn {
    bottom: 0;
}
.big_card_content {
    margin-bottom: 20px;
}
#paginate {
    width: 1100px;
    font-size: 28px;
    text-align: center;
}
#paginate a {
    color: #424242;
    text-decoration: none;
    padding: 0 20px;
}