@charset "UTF-8";
#content {
    width: 1100px; min-height: 1800px;
    position: relative;
    margin: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#indexContentsSection {
    /*background-color: #e8eb88;*/
}
#indexHeroImageWrap {
    width: 1100px; min-height: 460px;
    position: relative;
    background-image: url("../img/zootopia_index_hero.JPG");
    background-size: 100%;
}
#indexHeroImageInner {
    width: 300px; height: 400px;
    position: absolute;
    left: 60px; top: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.index_hero_image_box {
    position: absolute;
    width: 260px; height: 40px;
    padding-top: 20px;
    padding-left: 20px;
}
.index_hero_image_long_input {
    width: 260px; height: 25px;
    margin-top: 10px;
}
.index_hero_image_short_input {
    width: 80px; height: 25px;
    margin-top: 10px;
}
#indexHeroImageLocationBox {
    /*background-color: #e8eb88;*/
}
#indexHeroImageDateBox {
    /*background-color: darksalmon;*/
    top: 80px; padding-top: 5px;
    height: 100px;
}
}
#indexHeroImageSpeciesInput {
    width: 160px;
    pointer-events: auto;
}
#startpicker-input {
    width: 120px; 
}
#endpicker-input {
    width: 120px; 
}
.tui-datetime-input {
    width: 150px;
}
#indexHeroImageSpeciesBox {
    /*background-color: blanchedalmond;*/
    top:200px;
}
#indexHeroImageNumBox {
    /*background-color: cornflowerblue;*/
    top: 260px;
}
#indexHeroImageSearchBtn {
    position: absolute;
    bottom: 20px; left: 20px;
    border: 1px solid #C50532;
    outline: none;
    background-color: transparent;
    width: 80px; height: 33px;
    line-height: 33px;
    font-size: 18px;
    color: #C50532;
}
#indexHeroImageSearchBtn:hover {
    cursor: pointer;
    background-color: #C50532;
    color: #fff;
}
#indexContentsPoomWrap {
    width: 1040px; height: 190px;
    padding: 30px;
    position: relative;
    /*background-color: darkseagreen;*/
}
#indexContentsPoomTitle {
    font-size: 37px;
    font-weight: bold;
    color: #424242;
}
#indexContentsPoomInner {
    width: 1040px; height: 100px;
    top: 100px;
    position: absolute;
    /*background-color: green;*/
    font-size: 28px;
    font-weight: normal;
}
.index_contents_poom_wrap {
    width: 1040px; height: 600px;
    padding: 30px;
    position: relative;
}
.index_contents_poom_title {
    font-size: 30px;
    font-weight: bold;
    color: #424242;
}
.index_contents_poom_inner {
    position: absolute;
    top: 80px; left: 80px;
    width: 980px;
    /*background-color: #3397EB;*/
    float: left;
}
.small_card{
    width: 200px;
    height: 239px;
    cursor: pointer;
    display: inline-block;
    margin: 30px 30px 0 0;
    /*background: red;*/
    padding: 0;
    /*border: 1px solid #424242;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.small_card:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.small_card_img{
    width: 200px;
    height: 200px;
}

.small_card_li{
    padding: 0;
    margin: 0;
}

.small_card_padding{
    padding: 3px;
}

.small_card_hotel{
    font-size: 15px;
    font-weight: bold;
    color: #424242;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_card_pet{
    font-size: 10px;
    font-weight: bold;
    color: #3397EB;
}
.auto_complete {
    position: absolute;
    width: 260px;
    z-index: 1;
    background-color: #eee;
    top: 72px; left: 20px;
    display: none;
    height: 200px;
    overflow: hidden;
    /* overflow-y: scroll; */
}
.auto_complete>ul {
    position: relative;
    list-style: none;
    height: 200px;
    overflow: hidden;
}
.auto_complete>ul>li {
    z-index: 3;
    position: relative;
    width: 220px; height: 20px;
    padding: 10px 0 10px 20px;
    background-color: #eee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.tui-datepicker .tui-calendar {
    z-index: 3;
}
.fa-star {
	color: #FDD835;
}