@charset "UTF-8";

html {
    user-select: none;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#loginPopup {
    position: relative;
    width:360px;
    height: 360px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 20px;
    background-color: #fff;
}

#loginTitle {
    position: absolute;
    width: 100px;
    left: 150px;
    text-align: center;
    font-size: 28px;
}

.fa-times-circle {
    position: absolute;
    font-size: 26px;
    right: 20px;
    color: #424242;
}
.fa-times-circle:hover {
    color: #C50532;
}

.loginPopup_text {
    position: absolute;
    font-size: 20px;
    left: 40px;
}

.loginPopup_input {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 40px;
    text-indent: 10px;
}

#loginPopup span:nth-child(3) {
    top: 90px;
}



#idInput {
    top: 120px;
}

#loginPopup span:nth-child(5) {
    top: 180px;
}

#passwordInput {
    top: 210px;
}

#passwordInfo {
    position: absolute;
    top: 323px;
    left: 40px;
    font-size: 14px;

}

#loginBtn {
    position: absolute;
    width: 304px;
    height: 40px;
    top: 275px;
    left: 40px;
    color: #fff;
    background-color: #C50532;
}

#joinInfo {
    position: absolute;
    top: 345px;
    left: 40px;
    font-size: 14px;

}

#joinBtn {
    position: absolute;
    top: 345px;
    left: 195px;
    color: #C50532;
    font-weight: bold;
    font-size: 14px;

}

#findPasswordBtn {
    position: absolute;
    top: 323px;
    left: 250px;
    font-size: 14px;
    color: #C50532;
    font-weight: bold;
}

.cursor_pointer {
    cursor: pointer;
}
#loginPopup .msg {
	position: absolute;
	top: 250px;
	left: 40px;
	color: #C50532;
	display: none;
}