@charset "UTF-8";

#messageSection {
    position: relative;
    width: 1100px;
    height: 670px;
    left: 50%;
    margin-left: -550px;
    margin-top: 50px;
}

#pageTitle {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
}

#messageListWrap {
    position: absolute;
    width: 300px;
    height: 570px;
    bottom: 0px;
}

#messageDetailWrap {
    position: absolute;
    width: 750px;
    height: 570px;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#messageListSearch {
    position: absolute;
    width: 215px;
    height: 30px;
    top: 20px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 16px;
    text-indent: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#messageListSearchBtn {
    position: absolute;
    right: 40px;
    top: 20px;
}

#messageListSearchBtn i {
    font-size: 32px;
    cursor: pointer;
}

#messageListEditBtn {
    position: absolute;
    right: 0;
    top: 20px;

}

#messageListEditBtn i {
    font-size: 32px;
    cursor: pointer;
    transition: .2s;

}

#messageListEditBtn i:hover {
    text-shadow: 2px 2px 2px #afafaf;
}

#messageListInner {
    position: absolute;
    width: 300px;
    height: 490px;
    bottom: 0;
    overflow-y:scroll;
    background-color: #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.message_list {
    position: relative;
    height: 60px;
    border-bottom: 2px solid #424242;
    cursor: pointer;
    padding: 10px;
}

.message_list.on {
    background-color: #fff;
}

.message_list:nth-last-child(1) {
    border: none;
}

.message_list .profile {
    position: absolute;
    width: 60px;
    top: 10px;
    border-radius: 50px;
}

.message_list .nickname {
    position: absolute;
    top: 15px;
    left: 85px;
    font-size: 16px;
    font-weight: bold;
}

.message_list .message {
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 85px;
    font-size: 14px;
}

.message_list .time {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
}

.message_list .listEditCheckBox {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 10px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}

#talkingUser {
    position: absolute;
    top: -28px;
    font-size: 20px;
    font-weight: bold;
}

#checkedDeleteBtn {
    position: absolute;
    display: none;
    width: 50px;
    height: 25px;
    bottom: -40px;
    left: 0;
    font-size: 16px;
    line-height: 25px;
    color: #C50532;
    text-align: center;
    border: 2px solid #C50532;
    border-radius: 5px;
}

#checkedDeleteBtn:hover {
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.message_inner {
    position: relative;
    height: 400px;
    padding: 20px;
    overflow-y: scroll;
    background-color: #ddd;
}

.message_box {
    position: relative;
    width: 550px;
    min-height: 50px;
    overflow: hidden;
    padding-bottom: 20px;
}

.message_box.you {
    left: 140px;
}

.message_box .profile {
    position: absolute;
    border-radius: 100px;
    top: 0;
}

.message_box.you .profile {
    left: 480px;
}

.message_box .talk_balloon {
    position: relative;
    float: left;
    min-width: 100px;
    max-width: 410px;
    min-height: 20px;
    top:20px;
    left: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 20px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #eee;

}

.message_box:nth-last-child(1) {
    margin-bottom: 0px;
}

.message_box .talk_balloon:nth-last-child(1) {
    margin-bottom: 0px;
}

.message_box .talk_balloon::before {
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    top: 10px;
    left: -30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #eee;
    border-left: 10px solid  transparent;
}

.message_box.you .talk_balloon {
    left: initial;
    float: right;
    right: 100px;
}

.message_box.you .talk_balloon::before {
    left: initial;
    right: -30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 20px solid #eee;
}

#messageSendInner {
    position: absolute;
    width: 750px;
    height: 130px;
    bottom: 0;
    border-top: 1px solid #424242 ;
    background-color: #fff;
}

#messageSendInput {
    position: absolute;
    width: 520px;
    height: 60px;
    top: 25px;
    left: 40px;
    padding: 10px;
    resize: none;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

#messageSendBtn {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 46px;
    right: 40px;
    border: 2px solid #C50532;
    color: #C50532;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

#messageSendBtn:hover {
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}