@charset "UTF-8";
#passwordUpdateSection {
    position: absolute;
    width: 720px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -360px;
    padding: 40px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#passwordUpdateSection p {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}

#passwordUpdateSection input {
    position: absolute;
    height: 26px;
    font-size: 16px;
    text-indent: 10px;
    font-weight: bold;
    border-radius: 5px;
}

#passwordUpdateSection p:nth-child(1) {
    font-size: 32px;
}

#passwordUpdateSection p:nth-child(3) {
    top: 140px;
}

#passwordInput {
    top: 170px;

}

#passwordUpdateSection p:nth-child(5) {
    top: 220px;
}

#passwordCheckInput {
    top: 250px;
}

#passwordUpdateSection button {
    position: absolute;
    width: 200px;
    height: 46px;
    top: 320px;
    left: 50%;
    margin-left: -100px;
    font-size: 22px;
    border: 2px solid #C50532;
    border-radius: 5px;
    color: #C50532;
}

#passwordUpdateSection button:hover {
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#passwordUpdateSection span {
    position: absolute;
    display: none;
    left: 270px;
    color: #C50532;
}

#passwordCheck1 {
    top: 175px;
}

#passwordCheck2 {
    top: 255px;
}