@charset "UTF-8";

#passwordFindSection {
    position: absolute;
    width: 720px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -360px;
    padding: 40px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#passwordFindSection p {
    position: absolute;
    left: 40px;
}

#passwordFindSection p:nth-child(1) {
    top: 40px;
    font-size: 40px;
    font-weight: bold;
}

#passwordFindSection p:nth-child(2) {
    width: 720px;
    top: 120px;
    font-size: 28px;
    line-height: 35px;
}

#passwordFindSection p:nth-child(3) {
    top: 240px;
    font-size: 24px;
    font-weight: bold;
}

#passwordFindSection p:nth-child(4) {
    display: none;
    top: 295px;
    left: 400px;
    z-index: 2;
    font-size: 16px;
    color: #C50532;
}

#emailInput {
    position: absolute;
    width: 620px;
    height: 40px;
    top: 280px;
    font-size: 22px;
    text-indent: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}

#passwordFindBtn {
    position: absolute;
    width: 80px;
    height: 46px;
    top: 280px;
    left: 680px;
    border: 2px solid #C50532;
    border-radius: 5px;
    color: #C50532;
}

#passwordFindBtn:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#passwordFindPopup {
    position: absolute;
    width: 720px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -360px;
    padding: 40px;
    background-color: #fff;
}

#passwordFindPopup p {
    position: absolute;
    width: 720px;
    top: 100px;
    font-size: 24px;
    line-height: 36px;
}

#emailLinkBtn {
    position: absolute;
    width: 500px;
    height: 46px;
    top: 260px;
    left: 150px;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #C50532;
    border-radius: 5px;
    color: #C50532;
}

#emailLinkBtn:hover {
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}