@charset "UTF-8";
#paymentPopup .btn {
    border: 2px solid #C50532;
    border-radius: 10px;
    color:#C50532;
    cursor: pointer;
}
#paymentPopup .btn:hover {
    background-color: #C50532;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#paymentPopup {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 530px;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -240px;
    padding: 40px;
}
#paymentPopup h3 {
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 500;
}
#paymentPopup .title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 10px 0;
}
#paymentMethodSelect {
    width: 110px;
    height: 35px;
    padding: 5px;
}
#requestTextarea {
    width: 378px;
    height: 80px;
    padding: 10px;
    margin-bottom: 30px;
    resize: none;
}
#paymentBtn {
    position: relative;
    width: 140px;
    height: 40px;
    font-size: 18px;
    left: 130px;
}
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
}
#addCredit {
    color: #3397eb;
    font-size: 14px;
    border: none;
    text-decoration: underline;
}
#addCredit:hover {
    color: #3397eb;
    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
}
#creditCardAddPopup {
    position: absolute;
    width: 360px;
    height: 530px;
    padding: 40px 40px 40px 80px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -240px;
}
#creditCardAddPopup h4 {
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 500;
}
#creditCardAddPopup .title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 10px 0;
}
#creditCardAddPopup input,#creditCardAddPopup select {
    height: 30px;
}
#cardInformationInput {
    width: 300px;
}
#creditCardAddPopup .card_information_detail_input {
    width: 50px;
}
#cardInformaionInsertInner {
    margin: 20px 10px;
}
#creditCardInsertBtnWrap {
    position: absolute;
    bottom: 45px;
}
#creditCardInsertBtnWrap .btn {
    position: relative;
    width: 140px;
    height: 40px;
    font-size: 18px;
    left: 90px;
}
#creditCardSelectWrap,#cardPersonNameInsertInner {
    margin: 50px 0;
}
.close_popup {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #424242;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    user-select: none;
    outline: none;
    border: none;
    cursor: pointer;
}
#creditCardAddPopup {
    display: none;
}