#content {
    width: 1100px;
    margin: auto;
    min-height: 500px;
    /*background-color: coral;*/
}
#poomDetailSection {
    position: relative;
}
#poomMainImage {
    width: 1100px;
    height: 600px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#viewPhotosBtn {
    width: 130px;
    height: 40px;
    background-color: rgba(242, 242, 242, 0.65);
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    top: 550px;
}
#viewPhotosBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#viewPhotosBtn:active {
    transform: scale(1.2);
}
#poomDetailWrap {
    width: 700px;
    min-height: 500px;
    /*background-color: darkturquoise;*/
    font-size: 20px;
}
#poomDetailWrap h2 {
    font-size: 35px;
    font-weight: bold;
    width: 530px;
    min-height: 70px;
    line-height: 70px;
    /*background-color: cadetblue;*/
    text-indent: 20px;

}
#poomAddress {
    width: 530px;
    /*background-color: rebeccapurple;*/
    text-indent: 20px;
}
#hostUserProfile {
    width: 170px;
    height: 200px;
    /*background-color: #C50532;*/
    position: absolute;
    top: 600px;
    left: 530px;
}
#hostUserProfileImage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    left: 37px;
    top: 20px;
}
#hostUserName {
    position: absolute;
    width: 170px;
    height: 20px;
    top: 130px;
    text-align: center;


}
#hostUserName span {
    cursor: pointer;
    /*background: rebeccapurple;*/
}
#sendMessage {
    position: absolute;
    width: 140px;
    height: 20px;
    top: 150px;
    left: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}
h3{
    font-size: 25px;
    font-weight: bold;
    width: 550px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #9d9d9d;
    margin-top: 50px;
    margin-bottom: 10px;
}
.little_title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
#hostUserPet {
    position: relative;
    width: 550px;
    min-height: 100px;
}
.hostPetProfileImage {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: relative;
    left: 37px;
    top: 20px;
    margin-left: 10px;
}
#poomInformationInner p{
    text-indent: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
#poomIntroduceDetail,#precautions {
    width: 530px;
    min-height: 150px;
    padding: 10px;
    font-weight: normal;
    font-size: 16px;
}
#reviewInner {
    width: 550px;
    min-height: 300px;
    /*background-color: cadetblue;*/
}
.review_card{
    position: relative;
    width: 550px;
    min-height: 100px;
    color: #424242;
}

.review_card ul{
    font-size: 17px;
}
.review_card li{
    list-style: none;
    min-height: 100px;
    padding:20px;
    padding-bottom: 80px;
    position: relative;
    border-bottom: 1px solid #424242;
    margin:10px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.review_card_content{
    position: relative;
    width: 510px;
    min-height: 30px;
    line-height: 1.5em;
    font-size: 16px;
}
.review_card_img{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left:20px;
    bottom:5px;
}

.review_card_img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.review_card_date{
    position: absolute;
    color: #7a7a7a;
    width: 100px;
    min-height: 20px;
    bottom: 15px;
    left: 100px;
}
.review_card_user_name{
    position: absolute;
    width: 100px;
    min-height: 20px;
    bottom: 30px;
    left: 100px;
    font-weight: bold;
    color: #424242;
    padding-bottom: 5px;

}
#reviewNone {
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 180px;
    font-size: 18px;
}
.review_card_warning{
    position: absolute;
    width: 40px;
    text-align: center;
    min-height: 20px;
    bottom: 5px;
    right:5px;
}
#grade {
    position: relative;
    left: 455px;
    top: -50px;
}
.fa-star {
    color: #fee101;
}

#transportation {
    font-size: 16px;
    margin-bottom: 50px;
}
#kakaoMap {
    width: 550px;
    height: 400px;
    position: relative;
    margin: 20px;
    left: -20px;
}

/********************사이드바************************/
#bookingWrap {
    width: 380px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 630px;
}

#bookingDetail {
    width:340px;
    height:460px;
    font-size: 18px;
    padding: 20px;
    box-shadow: 0 8px 17px 0 rgba(95, 95, 95, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}
#price {
    font-weight: bold;
    font-size: 20px;
}
#bookingDate {
    width: 340px;
    height: 80px;
    position: absolute;
    top: 90px;
    z-index: 2;
}
#arrow {
    position: relative;
    top: 15px;
}
#petCount {
    width: 340px;
    height: 80px;
    position: absolute;
    top: 170px;
}
#count {
    display: block;
    margin-top: 10px;
    margin-left: 7px;
    width: 100px;
    height: 22px;
    text-indent: 10px;
    font-size: 16px;
}
#bookingPrice {
    width: 340px;
    height: 150px;
    position: absolute;
    top: 260px;
}
#bookingPrice div {
    margin-top: 10px;
    margin-bottom: 20px;
}
#bookingPrice #priceCount,#fees,#totalAmount {
    position: absolute;
    right: 10px;
}
#totalPrice {
    font-weight: bold;
    font-size: 20px;
}
#bookingBtn {
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 20px;
    left: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #C50532;
    border: 2px solid #C50532;
    transition: .15s;
}
#bookingBtn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #C50532;
}