@charset "UTF-8";

#poomBg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
}

#poomPhotoDetail {
    position: absolute;
    width: 1500px;
    top: 100px;
    left: 50%;
    margin-left: -750px;
}

#poomPhotoSection {
    position: relative;
    width: 950px;
    padding: 0 100px;
    float: left;
}

#poomPhoto {
    position: absolute;
    min-height: 300px;
    left: 50%;
    margin-left: -400px;
    border-radius: 20px;

}

#poomPhotoBtnWrap {
    position: absolute;
    width: 950px;
}

.poom_photo_btn {
    position: relative;
    width: 475px;
    height: 550px;
    cursor: pointer;
    float: left;
}

.poom_photo_btn:hover {
    color: #C50532;
}

.poom_photo_btn .fas {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 40px;
}

#nextBtn .fas {
    right: 0;
}

#poomInfoSection {
    position: relative;
    width: 336px;
    height: 600px;
    top: 0;
    float: right;
}

.fa-times-circle {
    position: absolute;
    right: 0;
    font-size: 40px;
    color: #424242;
}
.fa-times-circle:hover {
    color: #C50532;
}

#poomPhotoListWrap {
    position: absolute;
    width: 336px;
    height: 80px;
    top: 80px;
    overflow: hidden;
}

.poom_photo_list_cover {
    position: absolute;
    display: none;
    width: 32px;
    height: 64px;
    top: 0px;
}

.poom_photo_list_cover:nth-child(3) {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    transform:rotate(180deg);
}

.poom_photo_list_cover:nth-child(2) {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

}

#poomPhotoListInner {
    position: absolute;
    height: 64px;
    left: 0;
    transition: .3s;
}

.poom_photo {
    position: relative;
    margin-left:16px;
    float: left;
    border-radius: 8px;
    overflow: hidden;
}

.poom_photo img {
    position: relative;
    display: block;
    cursor: pointer;
    opacity: .5;
}

.poom_photo.on {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.poom_photo.on img {
    opacity: 1;
}

.poom_photo:nth-last-child(1) {
    margin-right: 16px;
}

#poomCntWrap {
    position: absolute;
    top: 200px;
    font-size: 20px;
    font-weight: bold;
}

#poomInfo {
    position: absolute;
    width: 332px;
    top: 250px;
}