@charset "UTF-8";
body {
    padding-left: 30px;
    padding-top: 10px;
}
#signUpSection {
    position: relative;
    margin: auto;
    width: 500px;
}
.btn.register {
    padding: 10px;
    background-color: #C50532;
    color: #fff;
}
button:hover {
    cursor: pointer;
}
/* 구분선 style 바꿈*/
.hr{
    border: solid #dedede; border-width: 1px 0 0;
    width: 500px;
}

/* 기본 유효성검사 폰트 설정*/
.msg {
    color:#C50532;
    margin:10px 0;
    display: none;
}
.msg.password_check {
    display: none;
}

/* 필드셋 제목 폰트 설정*/
.sign_up_legend{
    font-size: 30px;
}

/* 필드셋 가운데 정렬, 테두리선 없애기*/
.sign_up_fieldset{
    /*margin: auto;*/
    border: none;
}

/* 인풋 요소 크기, 마진 설정*/
.sign_up_input{
    height: 30px;
    margin: 10px 0 0 0;
}
#genderRegisterWrap label{
    cursor: pointer;
}
.btn.register.success {
    position: absolute;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}