/************************* userPetAddPopup *************************/
#bg {
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.7);
    z-index: 10;
}

#petAddPopup{
    width: 600px;
    height: 600px;
    padding:30px;
    background-color:#fff;
    border:1px solid #9e9e9e;
    /*수평수직 가운데 정렬*/
    position:absolute;
    top:50%;
    left:50%;
    margin:-330px 0 0 -330px;
    opacity:1;
    /*display: none;*/
}
/*창닫기 버튼*/
.popup_close{
    width:50px;
    height:50px;
    color:#424242;
    font-size:35px;
    position:absolute;
    top:30px;
    right:10px;
    background-color: transparent;
    /*버튼 꾸미기 제거*/
    user-select: none;
    outline: none;
    border:none;
    /*버튼효과*/
    cursor:pointer;
    z-index: 2;
}
.popup_close:hover{
    /*text-shadow:2px 2px 2px #424242;*/
    color:#C50532;
}

#petAddBtn{
    border: 2px solid #C50532;
    width: 150px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left: -75px;
    line-height:36px;
    text-align:center;
    font-size:20px;
    color:#C50532;
    font-weight: bold;
}

#petAddBtn:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#petAddPopupWrap{
    position: relative;
    height: 500px;
    font-size:20px;
    padding:60px 30px 30px 10px;
    line-height: 50px;
}

#petAddPopupWrap p{
    font-size: 25px;
    font-weight: bold;
}

#petNameInput{
    width: 500px;
    height: 35px;
    text-indent: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}


#petImg{
    /*background: red;*/
    width:204px;
    height:204px;
    position:absolute;
}


.img_icon {
    font-size: 30px;
}

#petAddPopupLabel {
    position: absolute;
    width: 202px;
    height: 202px;
    border: 1px solid #424242;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

.pet_and_user_file{
    display: none;
}

#petAddPopup h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/************************* userPetAddPopup end *************************/

/************************* setting *************************/

#content{
    position: relative;
    padding: 20px;
    width: 1100px;
    min-height: 100px;
    margin: auto;
}

/************************* userProfileImgSection *************************/

#userProfileImgSection{
    position: relative;
    background: #EEEEEE;
    width: 300px;
    height: 300px;
    float: left;
}

#userProfileImgSection label{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 200px;
    background-color: #fff;
    font-weight: bold;
    left: 50px;
    top: 40px;
}

/************************* userIntroduceWrap *************************/

#userIntroduceWrap{
    position: relative;
    width: 730px;
    min-height: 300px;
    padding: 20px;
    border-bottom: 3px solid #908f8f;
}


#petProfileWrap{
    position: relative;
    width: 765px;
    height: 320px;
    border-bottom: 3px solid #908f8f;
    overflow: hidden;
    padding-top: 20px;

}

#petProfileWrap ul{
    position: relative;
    overflow: hidden;
    width: 1000px;
    /*position: relative;*/
    height: 260px;
    left: 0;
    transition: left .5s ease;
}


#userMenuTab{
    position: relative;
    width: 770px;
    height: 70px;
}

#userMenuTabDetail ul{
    overflow: hidden;
    min-height: 500px;
}

#userProfileWrap{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 50px;
    top: 40px;

}

#userProfileWrap img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#userProfileImgBox a{
    position: absolute;
    width: 100px;
    height: 20px;
    top: 250px;
    left: 100px;
    text-decoration: none;
    color: #424242;
}


#userProfileImgBox:hover a{
    color: #C50532;
    font-weight: bold;
}

#userIntroduce{
    position: relative;
    width: 730px;
    height: 50px;
    font-size: 40px;
    color: #424242;
}

.profile_update_btn{
    position: relative;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #424242;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    outline: none;

}

.profile_update_btn:hover{
    color: #C50532;
    cursor: pointer;
}

#profileUpdateCompleteBtn{
    display: none;
}

.user_introduce_detail{
    position: relative;
    width: 730px;
    min-height: 50px;
    font-size: 20px;
    color: #424242;
    line-height: 1.5em;
}

#profileUpdateTextArea{
    padding: 10px;
    outline: none;
    resize: none;
    overflow: auto;
    position: relative;
    width: 710px;
    height: 130px;
    font-size: 20px;
    color: #424242;
    line-height: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;
}

#titleIntroduce{
    position: relative;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-size: 20px;
}

/************************* petProfile *************************/

#myPet{
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    text-indent: 10px;
}

.fa-angle-left{
    position: absolute;
    font-size: 50px;
    top: 155px;
    cursor: pointer;
}

.fa-angle-left:hover{
    color: #C50532;
}


.fa-angle-right{
    position: absolute;
    font-size: 50px;
    top: 155px;
    right: -3px;
    cursor: pointer;
}

.fa-angle-right:hover{
    color: #C50532;
}

.pet_profile{
    margin: 1px 3.5px 0 26.5px;
    width: 220px;
    height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    float: left;
    position: relative;
}


.pet_profile_img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 36px;
    border-radius: 50%;

}

.pet_profile_img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.fa-venus{
    font-size: 30px;
    color: red;
}

.fa-mars{
    font-size: 30px;
    color: blue;
}

.pet_name{
    text-align: center;
    font-size: 20px;
    position: absolute;
    width: 204px;
    height: 60px;
    top: 180px;
    padding: 8px;
}

/************************* userMenuTab *************************/

.user_menu_tab{
    font-size: 35px;
    color: #424242;
    position: absolute;

    height: 60px;
    line-height: 60px;
    font-weight: bold;
}

#poomTab {
    left: 10px;
}

#petTab{
    left: 95px;
}

#reviewTab{
    left: 180px;
}

#userMenuTab:hover li{
    cursor: pointer;
}

.user_menu_tab_on{
    color: #C50532;
    border-bottom: 3px solid #C50532;
}

#addPetBtnInList{
    position: absolute;
    width: 100px;
    height: 35px;
    top: 10px;
    right: 30px;
    color: #C50532;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #C50532;
    font-weight: bold;

}

#addPetBtnInList:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/************************* poomTab *************************/

.small_card_ul {
    position: relative;
    width: 750px;
    /*background: red;*/
    padding: 0;
    overflow: hidden;
    min-height: 590px;
    padding-top: 50px;

}

.small_card_ul li{

    float: left;
    padding: 0;

}

.small_card{
    width: 200px;
    height: 239px;
    /*background: red;*/
    padding: 0;
    margin: 0 25px 25px 25px;
    /*border: 1px solid #424242;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.small_card:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.small_card_img{
    width: 200px;
    height: 200px;
}

.small_card_li{
    padding: 0;
    margin: 0;
}

.small_card_padding{
    padding: 3px;
    font-size: 10px;
    font-weight: bold;
}

.small_card_hotel{
    font-size: 15px;
    font-weight: bold;
    color: #424242;
}

.small_card a{
    text-decoration: none;
}

.small_star i {
    color: #fee101;
    font-size: 10px;
    font-weight: bold;
}

/************************* petTab *************************/

#petImgAddUl{
    top: 55px;
    position: relative;
    width: 750px;
    display: none;
    overflow: hidden;
    margin-bottom: 100px;
}

#petImgAddUl li{
    float: left;
    width: 220px;
    height: 220px;
    margin: 30px 15px 0 15px;
}

.pet_img{
    position: absolute;
    width: 220px;
    height: 220px;
}

.pet_img img{
    width: 220px;
    height: 220px;
}

#petImgAddBtn{
    display: none;
}

#petImgAddBtn label{
    position: absolute;
    right: 86px;
    width: 80px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #C50532;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #C50532;
    font-weight: bold;
}

#petImgAddBtn:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/************************* reviewTab *************************/

#reviewDetailTab{
    display: none;
    position: relative;
    left: 10px;
    width: 750px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding-top: 10px;
}

#reviewDetailTab div{
    cursor: pointer;
}

#myReview{
    position: absolute;
}

#myPoomReview{
    position: absolute;
    left: 168px;
}


#userInfoSection {
    float: left;
    overflow: hidden;
}

/************************* reviewTab *************************/

.review_card{
    position: relative;
    width: 550px;
    min-height: 100px;
    color: #424242;
    display: none;
}

.review_card ul{
    font-size: 17px;
}

.review_card li{
    list-style: none;
    min-height: 100px;
    padding:20px;
    padding-bottom: 80px;
    position: relative;
    border-bottom: 1px solid #424242;
    margin:20px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.review_card_content{
    position: relative;
    width: 510px;
    min-height: 30px;
    line-height: 1.5em;
    font-size: 16px;
}
.review_card_img{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left:20px;
    bottom:5px;
}

.review_card_img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.review_card_date{
    position: absolute;
    color: #7a7a7a;
    width: 100px;
    min-height: 20px;
    bottom: 15px;
    left: 100px;
}
.review_card_user_name{
    position: absolute;
    width: 100px;
    min-height: 20px;
    bottom: 30px;
    left: 100px;
    font-weight: bold;
    color: #424242;
    padding-bottom: 5px;
}

.review_card_warning{
    position: absolute;
    width: 40px;
    text-align: center;
    min-height: 20px;
    bottom: 5px;
    right:5px;
}

.review_card_warning:hover{
    cursor: pointer;
}

.review_card_hotel_name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#myReviewList{
    display: none;
}

/************************* reortPopup *************************/

#reportPopup {
    width: 400px;
    min-height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
    background-color: #fbfbfb;
    color: #424242;
    padding: 20px;
    font-size: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);
    z-index: 33;
}



#reportPopup.on {
    display: block;
}

#reportHeader {
    width: 400px;
    min-height: 60px;
    /*background-color: #03a9f4;*/
    position: relative;
    margin: auto;
}

#reportTitle {
    width: 130px;
    height: 40px;
    margin: 5px auto 25px auto;
    /*background-color: #A5D6A7;*/
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 30px;
}

#reportedPerson {
    width: 400px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    /*background-color: #FF1744;*/
}

#reportContent .choice_reason {
    display: inline-block;
    width: 330px;
    height: 40px;
    text-indent: 0.5em;
    line-height: 40px;
    /*background-color: #A5D6A7;*/
    font-size: 18px;
    margin: 10px 10px;
    cursor: pointer;
}


#reportSubmitBtn {
    border: 2px solid #C50532;
    width: 130px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    position:absolute;
    bottom:20px;
    left:53%;
    margin-left: -75px;
    line-height:36px;
    text-align:center;
    font-size:15px;
    color:#C50532;
    font-weight: bold;
}

#reportSubmitBtn:hover{
    background-color: #C50532;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


#reportBg {
    top:0;
    display: none;
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.7);
    z-index: 10;
}

.report_popup_close{
    width:50px;
    height:50px;
    color:#424242;
    font-size:35px;
    position:absolute;
    top:0;
    right:-15px;
    background-color: transparent;
    /*버튼 꾸미기 제거*/
    user-select: none;
    outline: none;
    border:none;
    /*버튼효과*/
    cursor:pointer;
    z-index: 2;
}